<!DOCTYPE html>
<html lang="en">
<head>
    <head th:insert="blocks/head :: head"/>
    <meta charset="UTF-8">
</head>
<body>
<head th:insert="blocks/menu :: menu"/>


<div>
    <table>
        <thead>
        <tr>
            <th>ID|</th>
            <th>Login|</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th th:text="${user.id}"/>
            <th th:text="${user.username}"/>
            <th th:text="${user.roles} + ' '"/>
            <th><a th:href="'/user/'+ ${user.id}">Edit</a></th>
        </tr>
        </tbody>
    </table>

</div>


<div th:insert="blocks/js :: js"/>
</body>
</html>